@font-face {
    font-family: myFirstFont;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}

:root {
    --grey: color(display-p3 0.5 0.5 0.5);
    --grey-fallback: color-mix(in srgb, #808080 100%, white);
    font-family: myFirstFont, "Times New Roman", Times, serif;
}

img {
    transition: width height 1s;
}

@keyframes enlarge {
    from {transform: scale(1.05);}
    to {transform: scale(1.10);}
}  

img:hover {
    transform: scale(1.10);
    animation-name: enlarge;
    animation-duration: 4s;
}

body:has(main) {
    margin: 0;
}

#star-container:hover {
    cursor: default;
}

header {
    display: flex;
    background-color: var(--grey, --grey-fallback, grey);
    align-items: center;

    & h1 {
        margin-left: 1em;
    };
    
    & nav {
        margin-left: auto;
    };
    
    & ul {
        display: inline-flex;
        list-style-type: none;
    };
    
    & li {
        margin: 0 2rem;
    };
    
    & a {
        color: inherit;
        text-decoration: inherit;
    };
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        background-color: color(display-p3 0.5 0.5 0.5);
        align-items: center;
        font-size: 0.5rem;

        & h1 {
            margin-left: 1em;
        };
        
        & nav {
            margin-left: auto;
        };
        
        & ul {
            display: inline-flex;
            list-style-type: none;
        };
        
        & a {
            color: inherit;
            text-decoration: inherit;
        };
    }
}

.dark-mode {
    background-color: black; 
    color: white;
}

main, footer {
    margin-left: 1em;
    margin-right: 1em;
}

.form-container {
    display: block;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

input:user-invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

textarea:user-invalid {
    border: 2px solid red;
}

textarea:valid {
    border: 2px solid green;
}
